<%- include('partials/header'); %>

<h1>About</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quam, laborum impedit doloribus soluta sunt sapiente eligendi corrupti, ea cum provident, iure incidunt quas voluptates blanditiis vitae ab. Quas, quisquam</p>

<%- include('partials/footer'); %>
 